@media (max-width: 830px) {
    .ul-container li{
        display: none;
    }
    #btn-abrir{
        display: block;
    }
    .fundo-banner h1{
        font-size: 2.4em;
    }.fundo-banner p{
        font-size: 0.9em;
    }
    .produto img{
        width: 250px;
    }
    .footer-container{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }
}
/* produtos celular pequeno*/
    @media (max-width: 500px) {
        .produto img{
            width: 200px;
        }
     }
     @media (max-width: 570px) {
        .produto img{
            width: 300px;
        }
        .destaques{
            justify-content: center;
        }
     }
    /* categorias celular*/
    @media (max-width: 890px) {
        
    .img-categorias{
        align-items: center;
        flex-direction: column;
        width: 94%;
    }
    .feminino, .masculino, .acessorios{
        width: 380px;
        height: 50vh;
    }
    .fundo-banner{
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.575);
    }
}